<div class="jumbotron text-center">
	<h1>Home Page</h1>
	<a href="/events" class="btn btn-lg btn-danger">See Events</a>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="jumbotron text-center">
			<h1>News </h1>
			<a href="/news" class="btn btn-lg btn-danger">See news</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron text-center">
			<h1>Users </h1>
			<a href="/events" class="btn btn-lg btn-info">view users <i class="fa fa-group"></i> </a>
			<a href="/register" class="btn btn-lg btn-success">create account  / signin <i class="fa fa-user"></i> </a>
		</div>
	</div>
</div>

